
body{
    font-family: Audiowide Pro;
    background-image: url(img/FondoEspacial.avif);
    background-size: cover;
    background-position: center;
}

.container {
    
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    
}
header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    margin: 10px;
    padding: 10px;
    
}

header a:hover{
    border: 1px solid #968d8d;
    border-radius: 10px;
}


/*--------------------------*/

.proyectos{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    background-color: red;
    width:60%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

/*
.description{

}
*/

.proyecto{
    background-color:rgb(61, 61, 131);
    margin: 10px;
    display: flex;
    flex:1;
    padding: 20px;
    
}

.imagen{
    max-width: 100%;
    margin: 1em;
    text-align: center;
}

.imagen img{
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 1em;
    border-radius: 10px;
}

.cuadro-enlace{
    
    display: inline-block;
    text-decoration: none;
}

/*


.nav{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em; 
}

.header .nav .logo{
    
    flex-basis: 50%;
    padding: 20px;
    margin: 5px;
    
}
.header .nav .nav-links{

    display: flex;
    text-align: center;
    align-items: center;
    background-color: aqua;
}

.header .nav .nav-links li{
    font-size: 24px;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    
}
.header .nav .nav-links li:hover{

    transform: scale(1.1);
    border: 2px solid #ccc;
    border-radius: 10px;
}
*/